.header {
    color: whitesmoke;
    text-decoration: none;
}

.header:hover {
    color: rgb(76, 161, 133);
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: dimgray;
    height: 100%;
    width: 150px;
    padding: 100px 0px 100px 15px;
    list-style-type: none;
}

.header-link {
    font-size: 30px;
    margin-bottom: 30px;
}
