.row {
    font-size: 35px;
    margin-left: 30px;
    margin-bottom: 15px;
    padding: 5px 0px 5px 0px;
}

#cell-1 {
    border-bottom: solid black 1px;
    border-right: solid black 1px;
    padding: 5px 5px 5px 5px;
}

#cell-2 {
    border-bottom: solid black 1px;
    border-right: solid black 1px;
    border-left: solid black 1px;
    padding: 5px 5px 5px 5px;
}

#cell-3 {
    border-bottom: solid black 1px;
    border-left: solid black 1px;
    padding: 5px 5px 5px 5px;
}

#cell-4 {
    border-bottom: solid black 1px;
    border-top: solid black 1px;
    border-right: solid black 1px;
    padding: 5px 5px 5px 5px;
}

#cell-5 {
    border: solid black 1px;
    padding: 5px 5px 5px 5px;
}

#cell-6 {
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    border-left: solid black 1px;
    padding: 5px 5px 5px 5px;
}

#cell-7 {
    border-top: solid black 1px;
    border-right: solid black 1px;
    padding: 5px 5px 5px 5px;
}

#cell-8 {
    border-top: solid black 1px;
    border-right: solid black 1px;
    border-left: solid black 1px;
    padding: 5px 5px 5px 5px;
}

#cell-9 {
    border-top: solid black 1px;
    border-left: solid black 1px;
    padding: 5px 5px 5px 5px;
}

#cell-1:hover {
    border-bottom: solid black 1px;
    border-right: solid black 1px;
    padding: 5px 5px 5px 5px;
    background-color: magenta;
}

#cell-2:hover {
    border-bottom: solid black 1px;
    border-right: solid black 1px;
    border-left: solid black 1px;
    padding: 5px 5px 5px 5px;
    background-color: turquoise;
}

#cell-3:hover {
    border-bottom: solid black 1px;
    border-left: solid black 1px;
    padding: 5px 5px 5px 5px;
    background-color: magenta;
}

#cell-4:hover {
    border-bottom: solid black 1px;
    border-top: solid black 1px;
    border-right: solid black 1px;
    padding: 5px 5px 5px 5px;
    background-color: turquoise;
}

#cell-5:hover {
    border: solid black 1px;
    padding: 5px 5px 5px 5px;
    background-color: magenta;
}

#cell-6:hover {
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    border-left: solid black 1px;
    padding: 5px 5px 5px 5px;
    background-color: turquoise;
}

#cell-7:hover {
    border-top: solid black 1px;
    border-right: solid black 1px;
    padding: 5px 5px 5px 5px;
    background-color: magenta;
}

#cell-8:hover {
    border-top: solid black 1px;
    border-right: solid black 1px;
    border-left: solid black 1px;
    padding: 5px 5px 5px 5px;
    background-color: turquoise;
}

#cell-9:hover {
    border-top: solid black 1px;
    border-left: solid black 1px;
    padding: 5px 5px 5px 5px;
    background-color: magenta;
}